@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Inconsolata', monospace;
}

.logo {
  font-size: 20px;
}

.navbar {
  position: fixed;
  background-color: grey;
  color: yellow;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  text-decoration: none;
  height: 60px;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 40px;
  width: 40px;
  margin-left: 20px;
}

.logo a {
  margin-left: 15px;
  font-size: 23px;
  text-decoration: none;
  color: rgb(255, 166, 0)
}

.search-container input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  border-radius: 20px;
}

.search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  background: grey;
  color: rgb(255, 166, 0);
  font-size: 20px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}

.search-container button:hover {
  background: grey;
}

.dropdown {
  margin-right: 50px;
}

.dropdown button {
  font-size: 20px;
  margin-right: 10px;
  background: grey;
  color: rgb(255, 166, 0);
  border: none;
  cursor: pointer;
  border-radius: 20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 16px;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.aside {
  width: 150px;
}

main {
  margin-left: 13%;
  padding-top: 60px;
}

.sidebar {
  height: 100%;
  width: 13%;
  position: fixed;
  left: 0;
  top: 60px;
  padding: 6px 20px;
  align-items: center;
  justify-content: center;
  background: rgb(218, 221, 212);
}

.sidebar ul li {
  list-style: none;
  height: 50px;
  width: 100%;
}

.sidebar ul li a {
  text-decoration: none;
  padding-bottom: 20px;
  margin: 0;
  margin-left: 15px;
  padding: 0;
  position:relative;
}

.sidebar .avatar {
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: white;
}

.container .channel {
  display: block;
  font-size: 14px;
  padding-left: 45px;
}

.container .video .avatar {
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: white;
}

.sidebar ul li .views {
  position: relative;
  left: 0%;
}

.sidebar .information {
  width: 11%;
  height: 100px;
  position: inherit;
  bottom: 0%;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  grid-gap: 10px;
  justify-content: center;
}

.video {
  height: 300px;
  width: 400px;
  margin: 10px;
}

.container .video img {
  height: 225px;
  width: 400px;
}

.container .video .description {
  font-size: 20px;
  font-weight: bold;
}

.footer {
  display: block;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 30px;
  color: black;
  text-align: center;
}

.information .contacts {
  list-style: none outside none;
  display: flex;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 0;
  white-space: nowrap;
  font-size: 25px;
  font-weight: 400;
}

.information .contacts li {
  cursor: pointer;
}

.fa-telegram:hover {
  color: rgb(50, 207, 255);
}

.fa-instagram:hover {
  color: rgb(255, 60, 93);
}

.fa-facebook:hover {
  color: rgb(17, 81, 255);
}

@media only screen and (max-width: 1200px) {
  .sidebar ul li a {
    visibility: hidden;
  }
}